:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #666;
    --start-color: #ff6347;
    --progress-color: #ea9b04;
    --completed-color: #55a016;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #f9d587;
}

