:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #666;
    --start-color: #ff6347;
    --progress-color: #ea9b04;
    --completed-color: #55a016;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #f9d587;
}

.container{
    display: flex;
    justify-content: center;
}
.column{
    background-color: var(--white-color);
    width:300px;
    margin: 20px;
}
.column__heading{
    display: flex;
    margin: 10px;
    height: 40px;
    background-color: var(--start-color);
}
.column__heading--Started{
    background-color: var(--start-color);
}
.column__heading--Working{
    background-color: var(--progress-color);
}
.column__heading--Complete{
    background-color: var(--completed-color);
}
.heading__title{
    font-size: 2rem;
    color: var(--white-color);
    padding: 10px;
    position: relative;
}
.heading__title:after{
    content:"";
    position: absolute;
    width:2px;
    height: 2rem;
    background-color: var(--white-color);
    margin-left: 10px;
}
.column__heading span{
    color: var(--white-color);
    font-size: 2rem;
    margin: 10px;
}
.plus {
    font-size: 3rem;
    color: #888;
    margin: 10px 0 10px 10px;
}
.plus:hover{
    font-size: 2rem;
    font-weight: 600;
    background-color: rgb(110, 110, 245, 0.9);
    color:var(--white-color);
    padding: 10px 50px 10px 10px;
    display: inline-block;  
    position: relative;
}

.items {
    position: relative;
}
.column__body--item{
    position: relative;
    border: 2px solid var(--start-color);
    margin: 10px;
    height: 55px;
}
.icons{
    font-size: 3rem;
    position: absolute;
    bottom: -15px;
    right: 12px;
    display: none;
}

.icons .times{
    color: green;  
}
.icons .check{
    color: red;
}
.items:hover > .icons{
    display: block;
}

@keyframe toRight {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}